# Python
__pycache__/
*.pyc

# Environment
.env
.venv/
.venv-*/

# OS-specific
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Data & models (too large for Cloud Run image)
/data/
/RawDataFiles/
/models/

# Dev files not needed in production
.gitattributes
.gitignore
LICENSE
README.md
