# Python
__pycache__/
*.pyc
*.py[cod]
*.so

# Environment
.env
.venv

# Data
/data/raw/*
/data/processed/*
/data/cache/*
data/processed/output/traffic_data_osm_lines_clean.geojson

# Allow sample data
!data/processed/comments.txt
!data/processed/coordinate_map.json

# Virtual envs
.venv/
.venv-*/
.venv*/
.venv-st/
venv/
env/

# Streamlit secrets (local only)
.streamlit/secrets.toml

# OS-specific
.DS_Store
Thumbs.db
.vscode/

# OS / editors
.DS_Store
.idea/
.vscode/

# IDE
.vscode/
.idea/

# Logs
*.log
/tmp/
.cache/

# Miscellaneous
/scripts/cache/
frontend/traffic_map.html

# All test files will be ignored
*test*
